In [11]:
import os

In [12]:




#########
def main():
## just a tip to find a actual method/....
if file exist in the path:
    image_array=np.load("file")
else:
path,dirs,files=next(os.walk("/usr/lib"))
file_count=len(files)
image_array=np.zero([file_count,200,200,3])
for _,_ files in next(os.walk("/usr/lib")):
    idx=0 # which number of image  i am processing/.......
    for file in files:
        image_array=(idx,imageToNp(file))
        idx=idx+1
np.save("imageToNp","image_array") #if you want to save your files/......        
return image_array

IndentationError: expected an indented block (<ipython-input-12-03c7e6201922>, line 8)

In [14]:
import numpy as np
# for image reading
import matplotlib.pylab as plt
#image matplotlib.image

def plt(im,h=8,**kwargs):
# Helper function to plot an image.
    y=im.shape[0]
    x=im.shape[1]
    w=(y/x)*h
    plt.figure(figsize=(w,h))
    plt.imshow(im,interpolation='none',**kwargs)
    plt.axis('off')
    # input ("press Enter to continue ")
    
    
    #%matplotlib pltinline
    im=plt.imread("pp.jpg")
    print(type(im))
    plti(im)
    im=im[400:3800,:2000,:]
    plti(im)
    print(im.shape)

In [15]:
import pandas as pd

In [16]:
sw=pd.Series([20,30,40,50,60,70,80],
            index =['mon','tue','wed','thur','fri','sat','sun'])
sw=sw*2
print(sw["fri":"sat"])

fri    120
sat    140
dtype: int64

In [17]:
sdata={"Sindh":3500,"Punjab":4500,"KPK":5500,"Balochistan":6500}
tax_by_state=pd.Series(sdata,
                      index=["Sindh","Punjab","KPK","Balochistan","GBG"])
print(tax_by_state)
print(pd.isnull(tax_by_state))

Sindh          3500.0
Punjab         4500.0
KPK            5500.0
Balochistan    6500.0
GBG               NaN
dtype: float64
Sindh          False
Punjab         False
KPK            False
Balochistan    False
GBG             True
dtype: bool

In [18]:
tax_by_state["GBG"]=654235

In [19]:
print(tax_by_state)
print(pd.isnull(tax_by_state))

Sindh            3500.0
Punjab           4500.0
KPK              5500.0
Balochistan      6500.0
GBG            654235.0
dtype: float64
Sindh          False
Punjab         False
KPK            False
Balochistan    False
GBG            False
dtype: bool

In [26]:
apples=pd.Series([3,4,1,4])
oranges=pd.Series([2,14,3,7])
list=[2,5,6,7]
data={"apples":apples,"oranges":oranges,"Banana":list}
# print(data,"\n")
fruits_df=pd.DataFrame(data)
print(fruits_df)

   apples  oranges  Banana
0       3        2       2
1       4       14       5
2       1        3       6
3       4        7       7

In [25]:
apples=pd.Series([3,4,1,4],index=["thurs","fri","Sat"] )
oranges=pd.Series([2,14,3,7],index=["mon","tue","wed"])
# list=[2,5,6,7]
oranges.index=apples.index
data={"apples":apples,"oranges":oranges}
# print(data,"\n")
fruits_df=pd.DataFrame(data)
print(fruits_df)
print(data.index)

ValueError: Length of passed values is 4, index implies 3

In [24]:
state=['ohio','ohio','ohio','Nevada','Nevada','Nevada','Nevada']
data={'state':state,
     'year':[200,300,400,500,600,700,900],
     'pop':[1.5,1.3,1.4,1.6,1.7,1.8,2.0],
     'debt':[2,23,1,23,2,3,4]}

frame2=pd.DataFrame(data,columns=['year','state','pop','debt'],
                   index=['one','two','three','four','five','six','seven'])
frame2
#tail last 5 value output
#head means first 5  value output
# frame2=pd.Dataframe(data,columns=['year','state','pop','debt'],
#                    index=['one','two','three','four','five','six','seven'])
ln=len(frame2)
rng=np.arange(ln)
print(rng)
frame2['debt']=rng
frame2

[0 1 2 3 4 5 6]

       year   state  pop  debt
one     200    ohio  1.5     0
two     300    ohio  1.3     1
three   400    ohio  1.4     2
four    500  Nevada  1.6     3
five    600  Nevada  1.7     4
six     700  Nevada  1.8     5
seven   900  Nevada  2.0     6